<h1> <p style = "font-family:verdana"> Today's trending Youtube video </p></h1>


<p style = "font-family:verdana;font-size:16px"> What videos are hot on Youtube today?<br>Here you can see the top 12 most popular videos trending today! </p>
<p style = "font-family:verdana;font-size:16px"> What do you want to do? </p>
<ol>
  <li> <p style = "font-family:verdana;font-size:14px"> <a href="{{url_for('choose_country')}}"> Choose a country you want to search for </a></p></li>
  <li> <p style = "font-family:verdana;font-size:14px"> <a href="{{url_for('show_video')}}"> Look at which vidoes are popular </a></p></li>
  <li> <p style = "font-family:verdana;font-size:14px"><a href="{{url_for('show_reaction')}}"> See Reaction to the popular video </a></p></li>
  <li> <p style = "font-family:verdana;font-size:14px"><a href="{{url_for('show_channel')}}"> Check the list of creators for the videos </a></p></li>
</ol>
